- content_for :title do
  Home

.row
  .span6
    %h2 Stats
    %table#stats.table.table-bordered.table-striped
      %tbody
        %tr
          %td Whitelisted Email Addresses
          %td= @whitelisted_emails
        %tr
          %td Scheduled Messages
          %td= @scheduled_messages
        %tr
          %td Unprocessed Messages
          %td= @unprocessed_messages
  .span6
    %h2 10 Soonest Upcoming Messages
    %table#upcoming-messages.table.table-bordered.table-striped
      %thead
        %tr
          %th Subject
          %th Due At
      %tbody
        - if @message_schedule.empty?
          %tr
            %td.nothing-here{:colspan => 2}
              There are currently no upcoming messages
        - else 
          - @message_schedule.soonest(5).each do |message|
            %tr
              %td= truncate(message.subject, :length => 50)
              %td= format_datetime(message.deliver_on)
